img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header{
  margin-top: 20px;
}
.header__container {
  display: flex;
  @media screen and (min-width: 1199.99px) {
    align-items: center;
  }
  
}
li {
  list-style: none;
}
.container {
  width: 100%;
  /* padding-left: 16px;
  padding-right: 16px; */
 
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.header-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 10;
    margin-right: 16px;

    @media screen and (min-width: 1199.99px){
        display: none;
    }
}
.header-menu__icon {
    fill: #000000;
    /* transition: fill $duration $timing-function; */
    
    .header-menu__btn:hover &,
    .header-menu__btn:focus &  {
        fill: #2B2B2A;
    }
}


.header-menu__icon-closed {
    display: none;
}
.header-menu__btn.is-open .header-menu__icon-closed {
    display: block;
}

.header-menu__btn.is-open .header-menu__icon-menu {
    display: none;
}
.header-menu { 
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
    z-index: 1;
    @media screen and (min-width: 1199.99px) {
      display: block; 
      flex-wrap: wrap;
      align-items: center;
      position: static;
      padding: 0;
    }
   
}

.header-menu.is-open {
    display: block;
    top: 0;
  
}
.for-who__title{
  text-align: center;
  margin-bottom: 30px;
}
.for-who_desktop{
@media screen and (min-width: 1199.99px){
        display: none;
    }
}
.for-who_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.for-who_item {
  max-width: 150px;
  display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    
    @media screen and (min-width: 1199.99px){
        max-width: 200px;
        margin-left: 30px;
    margin-right: 30px;
        margin-top: 30px;

    }
}
.for-who__container{
  margin-bottom: 60px;
  @media screen and (min-width: 1199.99px){
    margin-bottom: 146px;
    }
}
.navigation{
  @media screen and (min-width: 1199.99px) {
    display: flex;
    justify-content: flex-end;
  }
}
.navigation__link{
  font-family: 'Roboto', sans-serif;
  color:#2B2B2A;
  font-size: 12px;
  
}
.navigation__item-link{
  
  @media screen and (min-width: 1199.99px) {
    padding: 15px 40px;
    margin-left: 65px;
    background-color: #2B2B2A;
    color: white;
    border-radius: 15px;
    
  }
}
.contacts{
  @media screen and (max-width: 768px){
    display: none;
  }
}
.header-sign {
  display: flex;
    margin-right: 67px;
    margin-top: 11px;
    margin-left: auto;
}

.navigation__list{
  @media screen and (min-width: 1199.99px){
    display: flex;
  }
  
}
.navigation__item{
  @media screen and (min-width: 768px){
   margin-left: 30px;
  }
}
.navigation__link__down::after{
  content: "";
  display: inline-flex;
  align-items: end;
  background-image: url("/images/icon/drop-down.svg");
   width: 15px;
  height: 6px;
  background-size: #2B2B2A;

}
.contacts__link-tel{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #2B2B2A;
  @media screen and (min-width: 1199.99px){
    margin-left: 70px;

  }
}
.navi__link{
  margin-left: auto;
  margin-right: 85px;
  color:#2B2B2A;
  @media screen and (min-width:1199.99px) {
    display: none;
  }
}
.first-screen__container{
  padding-left: 16px;
}
.first-screen{
  max-width: 1000px;
  /* height: 400px; */
  background-image: url("../images/hero/vector-mob3.png"),
  url("../images/hero/vector-mob4.png"),
  url("../images/hero/vector-mob1.png"), 
  url('../images/hero/vector-mob2.png'),
  url("../images/hero/hero-bgmobile.jpg");

background-size: 90px, 110px, 150px, 130px, cover;
background-repeat: no-repeat;
background-position: top 0 right 0, top 270px left 130px, center, 100px 60px,
  center;

}
.first-screen__button-list{
  display: flex;
  
}
.first-screen__button{
  font-family: 'Roboto',Medium, sans-serif;
  /* font-style: ; */
  font-weight: 500;
  font-size: 18px;
  margin-top: 168px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.button-green{
  background-color: #59F97C;
}
.button-orange{
  background-color: #EDC407;
}
.first-screen__title{
  margin-top: 85px;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
}
.first-screen__item{
  margin-top: 26px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  
}
.first-screen__item::before{
  content: "";
  display: inline-flex;
  align-items: end;
  background-image: url("/images/icon/Vector-9.svg");
   width: 16px;
  height: 16px;
margin-right: 10px;
}